body {
  margin-top: 80px;
}

* {
  letter-spacing: 0px;
  line-height: 22px;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.service1-body .service-common .service-content {
  text-align: center;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  width: 33.3333333333%;
  padding: 18px;
  padding-bottom: 28px;
  vertical-align: middle;
}
.service1-body .service-common .service-content h6 {
  margin-top: 5%;
  font-size: 16px;
  font-weight: 700;
}
.service1-body .service-common .service-content p {
  font-size: 15px;
  color: #999999;
  margin-top: 4%;
  margin: 0;
}
.service1-body .service-common .service-content.sag {
  border-right: none;
}

.service-statistics {
  margin-top: 70px;
  background-image: url(../pictures/01-7.jpg);
  position: relative;
  height: 240px;
}
.service-statistics::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}
.service-statistics .counter-number {
  width: 90%;
}
.service-statistics .counter-number .statistic-content {
  transform: translate(0, 80%);
}
.service-statistics .counter-number .statistic-content::after {
  content: "";
  width: 1px;
  height: 50px;
  position: absolute;
  background-color: white;
  left: 0px;
  top: 30px;
}
.service-statistics .counter-number .statistic-content::before {
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  background-color: white;
  left: -5px;
  top: 50px;
}
.service-statistics .counter-number .statistic-content h6 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  margin-left: 20px;
}
.service-statistics .counter-number .statistic-content .content-body {
  margin-left: 20px;
}
.service-statistics .counter-number .statistic-content .content-body h1 {
  color: white;
  position: relative;
  font-size: 40px;
  font-weight: 500;
  margin: 10px 0;
  margin-left: 15px;
}
.service-statistics .counter-number .statistic-content .content-body img {
  width: 34px;
  position: relative;
}

.provided-services {
  padding-top: 80px;
  padding-bottom: 60px;
}
.provided-services .provided-info h5 {
  letter-spacing: 0px;
  line-height: 30px;
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #363636;
}
.provided-services .provided-info p {
  color: #999999;
  font-size: 15px;
  font-weight: 500;
}
.provided-services .provided-info ul li {
  font-size: 15px;
  font-weight: 500;
  color: #999999;
}
.provided-services .provided-info ul li i {
  color: #DC3533;
  font-weight: 600;
  margin-right: 10px;
}

.service-table {
  padding-top: 60px;
  padding-bottom: 110px;
}
.service-table:hover .service-schedule .service-title::before {
  width: 100px;
}
.service-table:hover .service-schedule .service-title::after {
  width: 50px;
}
.service-table .service-schedule .service-title {
  text-align: center;
  position: relative;
}
.service-table .service-schedule .service-title span {
  color: #999999;
  font-weight: 480;
  font-size: 14.5px;
}
.service-table .service-schedule .service-title h2 {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 46px;
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.service-table .service-schedule .service-title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #DB2D2E;
  top: 130%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: 0.5s ease-in-out;
}
.service-table .service-schedule .service-title::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #DB2D2E;
  top: 140%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s ease-in-out;
}
.service-table .enter-details {
  margin-top: 80px;
}
.service-table .enter-details .enter-upper input {
  background-color: #F6F6F6;
  outline: none;
  border: none;
  border: 1px solid transparent;
  font-size: 15px;
  padding: 8px 15px;
  width: 30%;
}
.service-table .enter-details .enter-down input {
  background-color: #F6F6F6;
  outline: none;
  border: none;
  border: 1px solid transparent;
  font-size: 15px;
  margin-top: 15px;
  width: 100%;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 180px;
}
.service-table .enter-details .enter-end button {
  margin-top: 15px;
  color: white;
  background-color: #DB2D2E;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 8px 47.7%;
  transition: 0.4s ease-in-out;
}
.service-table .enter-details .enter-end button:hover {
  background-color: #323232;
}
.service-table .open-table {
  margin-top: 80px;
  background-color: #F6F6F6;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 5px;
}
.service-table .open-table h6 {
  font-weight: 600;
  line-height: 24px;
  font-size: 15px;
  color: #363636;
}
.service-table .open-table .line1 {
  background-color: #DB2D2E;
  width: 20px;
  height: 2px;
}
.service-table .open-table .time-table {
  margin-top: 15px;
}
.service-table .open-table .time-table .week-days {
  text-align: justify;
}
.service-table .open-table .time-table .week-days ul li {
  color: #363636;
  font-size: 15px;
  padding: 2px 0px;
}
.service-table .open-table .time-table .open-dates {
  text-align: justify;
  margin-left: 30px;
}
.service-table .open-table .time-table .open-dates ul li {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 0px;
}

@media (max-width: 576px) {
  .service1-body .service-common .service-content {
    width: 100%;
    border-right: none;
  }
  .service-statistics {
    height: 500px;
  }
  .service-statistics .counter-number .statistic-content {
    transform: translate(0, 50%);
    margin-bottom: 20px;
  }
  .provided-services {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .provided-services .provided-info {
    width: 99%;
    margin: 0 auto;
  }
  .provided-services .happy-photo {
    width: 99%;
    margin: 0 photo;
    margin-top: 20px;
  }
  .service-table {
    padding-bottom: 40px;
  }
  .service-table .service-schedule .enter-details {
    margin-top: 45px;
  }
  .service-table .service-schedule .enter-details .enter-upper input {
    width: 100%;
    margin-top: 15px;
  }
  .service-table .service-schedule .enter-details .enter-down {
    margin-top: 0px;
  }
  .service-table .service-schedule .enter-details .enter-end button {
    width: 100%;
  }
  .service-table .service-schedule .open-table {
    margin-top: 60px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .service1-body .service-common .service-content {
    width: 100%;
    border-right: none;
  }
  .service-statistics {
    height: 500px;
  }
  .service-statistics .counter-number .statistic-content {
    transform: translate(0, 50%);
    margin-bottom: 20px;
    margin-left: 8px;
  }
  .provided-services {
    padding-top: 55px;
    padding-bottom: 40px;
  }
  .provided-services .provided-info {
    width: 100%;
    margin: 0 auto;
  }
  .provided-services .happy-photo {
    margin-top: 15px;
  }
  .service-table {
    padding-bottom: 40px;
  }
  .service-table .service-schedule {
    width: 95%;
    margin: auto;
  }
  .service-table .service-schedule .enter-details {
    margin-top: 45px;
  }
  .service-table .service-schedule .enter-details .enter-upper input {
    width: 100%;
    margin-top: 15px;
  }
  .service-table .service-schedule .enter-details .enter-down {
    margin-top: 0px;
  }
  .service-table .service-schedule .enter-details .enter-end button {
    width: 100%;
  }
  .service-table .service-schedule .open-table {
    margin-top: 60px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .service-statistics {
    height: 310px;
  }
  .service-statistics .counter-number .statistic-content {
    width: 40%;
    transform: translate(0, 50%);
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .service-statistics .counter-number .statistic-content.left-content {
    margin-left: 80px;
  }
  .provided-services {
    width: 93%;
    margin: 0 auto;
  }
  .provided-services .provided-info ul {
    margin-top: 30px;
  }
  .service-table .service-schedule {
    width: 95%;
    margin: auto;
  }
  .service-table .service-schedule .enter-details {
    margin-top: 45px;
  }
  .service-table .service-schedule .enter-details .enter-upper input {
    width: 100%;
    margin-top: 15px;
  }
  .service-table .service-schedule .enter-details .enter-end button {
    width: 100%;
  }
  .service-table .service-schedule .open-table {
    margin-top: 60px;
  }
  .service-table .service-schedule .open-table .time-table {
    margin-top: 10px;
  }
  .service-table .service-schedule .open-table .time-table .week-days ul li {
    margin-bottom: 22px;
  }
  .service-table .service-schedule .open-table .time-table .open-dates {
    margin-left: 20px;
  }
  .service-table .service-schedule .open-table .time-table .open-dates ul li {
    width: 80%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .service-statistics {
    height: 220px;
  }
}
@media (max-width: 256px) {
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
}/*# sourceMappingURL=servicestyle.css.map */